{
  "presets": ["react"],
  "plugins": [
    "transform-export-extensions"
  ],
  "env": {
    "cjs": {
      "plugins": [
        "external-helpers",
        "transform-es2015-destructuring",
        "transform-es2015-parameters",
        "transform-object-rest-spread"
      ]
    },
    "es": {
      "plugins": [
        ["transform-object-rest-spread", {"polyfill": false}]
      ]
    }
  }
}
